<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web App</title>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
  <script src="/__/firebase/7.15.0/firebase-auth.js"></script>
  <script src="/__/firebase/7.15.0/firebase-firestore.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCM2UXyY5AGDiET-C4phEZTzHtNiSvL3V8",
        authDomain: "web-app-e8b75.firebaseapp.com",
        databaseURL: "https://web-app-e8b75.firebaseio.com",
        projectId: "web-app-e8b75",
        storageBucket: "web-app-e8b75.appspot.com",
        messagingSenderId: "832026209990",
        appId: "1:832026209990:web:dcc9a522c6ccdba37a31c7",
        measurementId: "G-PJNTEEP1EE"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

  </head>
  <body>
    <h1>CSUSB Voting System</h1>

    <p>Login with Firebase</p>
    <img id="google-pic" src="" />
    <p id="google-email"></p>
    <button onclick={signInWithGoogle()}>
      Sign In With Google
      </button>
      <script>
        function signInWithGoogle(){
          var googleAuthProvider = new firebase.auth.GoogleAuthProvider

          firebase.auth().signInWithPopup(googleAuthProvider)
          .then(function(data){
            console.log(data)
          })
          .catch(function(error){
            console.log(error)
          })
        }
        </script>

    <form method="POST">
      <p>Enter your student ID: <input name="student" /></p>
      <button type="submit">Submit</button>
      </form>
  </body>
</html>
