<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web App</title>
  </head>
  <body>
    <h1>CSUSB Petition</h1>

    <p>Login with Firebase</p>

    <form method="POST">
      <p>Enter your student ID: <input name="student" /></p>
      <button type="submit">Submit</button>
      </form>
  </body>
</html>
