<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>true facts</title>
  </head>
  <body>
    <h1>Facts</h1>

    <ul>
      {{#each facts}}
      <li>{{text}}</li>
      {{/each}}
    </ul>

  </body>
</html>
